{% extends 'layouts/base.html' %}
{% load static %} 
{% block content %}  
<div class="d-block mb-4 mb-md-0 py-4 "> 
    <h4>Comercial</h4> 
</div>
<div class="row">
    <!-- Estoque -->
    <div class="col-12 col-sm-12 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <a href="{% url 'criar_estoque' %}" >
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-info rounded me-4 me-sm-0">
                            <i class="fas fa-box fa-2x"></i>
                        </div> 
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <h5 class="card-title">Estoque</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing.</p> 
                        </div>
                    </div> 
                </a>
            </div>
        </div>
    </div>
    <!-- Setor -->
    <div class="col-12 col-sm-12 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <a href="{% url 'criar_setor' %}" >
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <i class="fas fa-users fa-2x"></i>
                        </div> 
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <h5 class="card-title">Setor</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing.</p> 
                        </div>
                    </div> 
                </a>
            </div>
        </div>
    </div> 
    <!-- Área Acreditação -->
    <div class="col-12 col-sm-12 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <a href="{% url 'area_acreditacao' %}" >
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-success rounded me-4 me-sm-0">
                            <i class="fas fa-check fa-2x"></i>
                        </div> 
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <h5 class="card-title">Área Acreditação</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing.</p> 
                        </div>
                    </div> 
                </a>
            </div>
        </div>
    </div>  
</div> 
{% endblock content %}