{% extends 'layouts/base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Criar Instrument Type</title>
</head>

<style>
  h4{
    padding: 24px;
  }
</style>
<body>
    <h4>Criar tipo de instrumento</h4>
    <div class="row">
        <div class="mb-5">
          <div class="card border-0 shadow "> 
            <div class="card-body">
              <form method="post">
                {% csrf_token %} 
                <div class="row">
                  {% for field in form %}
                  <div class="col-lg-4 col-sm-6 mb-4"> 
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>   
                    {{ field }}
                    <div class="form-"></div>
                  </div>
                  {% endfor %}
                  <div class="form-group d-flex justify-content-end ">
                    <a class="btn btn-outline-primary mx-2" href="{% url 'instrument_type_list' %}">Ver todos os tipos de instrumento</a>
                    <a class="btn btn-outline-primary mx-2" href="/instruments/instruments">Cancelar</a>  
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                  </div>   
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
    
</body>
</html>
{% endblock %}