{% extends 'layouts/base.html' %}
{% load static %} 
{% block content %} 
<div class="d-block mb-4 mb-md-0 py-4 "> 
  <h4>Cadastrar Cliente</h4> 
</div>

<div class="row">
  <div class="mb-5">
    <div class="card border-0 shadow components-section">
      <div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible mt-2">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
            <span class="error-message">{{ message }}</span> 
        </div>
        {% endfor %}
        {% endif %} 
        <div class="row">
          <form method="post" class="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.cnpj.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {% for error in form.cnpj.errors %}
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}
            <div class="row">
              {% for field in form %}
              <div class="col-lg-4 col-sm-6">
                <div class="form-group mb-4">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                </div>
              </div>
              {% endfor %}
              {% if not show_search_button %}
              <div class="col-lg-4 col-sm-6">
                <div class="form-group mb-4">
                    <label for="label">Anexos:</label><br>
                    <div id="file-container">
                        {{ form_anexo.anexo }}
                    </div>
                    <button type="button" id="add-file" class="btn btn-primary"><i class="fas fa-plus"></i> Adicionar Anexo</button>
                </div>
            </div>
            {% endif %} 
            </div>
            <div class="form-group">
              {% if show_search_button %}
                  <button class="btn btn-primary" type="submit" name="action" value="search" aria-required="false">Consultar empresa</button>
                  <a href="{% url 'cadastrar_cliente_cpf' %}" class="btn btn-primary">Cadastrar por CPF</a>
              {% endif %} 
              {% if show_save_button %}
                  <a class="btn btn-outline-primary mx-2" href="/clientes">Cancelar</a>
                  <button class="btn btn-primary" type="submit" name="action" value="save">Cadastrar</button>
                  {% if mensagem %}
                    <div class="alert alert-success">
                        {{ mensagem }}
                    </div>
                  {% endif %}
              {% endif %}
          </div> 
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
  <div class="input-group input-group-with-space">
      <input id="searchInput" name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar">
      <button id="searchButton" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
  </div>
</div>
<div class="spacer" style="height: 15px;"></div>
<div class="card card-body border-0 shadow table-wrapper table-responsive mb-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible mt-2">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
        <span class="error-message">{{ message }}</span> 
    </div>
    {% endfor %}
  {% endif %} 
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="border-gray-200">Cliente</th>
        <th class="border-gray-200">CNPJ</th>
        <th class="border-gray-200">Telefone</th>
        <th class="border-gray-200">Email</th>
        <th class="border-gray-200">Endereço</th>
        <!-- <th class="border-gray-200">Ação</th> -->
      </tr>
    </thead>
    <tbody>
      {% for i in page_obj %}
      <tr>
        <td class="text-wrap">
         
          <div class="btn-group">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fw-bolder text-gray-500">
                <span>{{i.name}}</span>
              </span>
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu py-0 dropdown-menu-right">
              <a class="dropdown-item rounded-top" href="/cliente/{{i.id}}" ><span class="fas fa-eye me-2"></span>Ver detalhes</a>
              <a class="dropdown-item" href="/cliente/{{i.id}}/new_contact" ><span class="fas fa-plus me-2"></span>Adicionar contatos</a>
              <a class="dropdown-item" href="/cliente/{{i.id}}/edit" ><span class="fas fa-edit me-2"></span>Editar</a>
              <a class="dropdown-item text-danger rounded-bottom" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ i.id }}">
                <span class="fas fa-trash-alt me-2"></span>Deletar
            </a>
            </div>
          </div>
        </td>
        <td><span class="fw-normal">{% if i.cpf %} {{i.cpf}} {% else %} {{i.cnpj}} {% endif %}</span></td>
        <td><span class="fw-normal">{{i.phone}}</span></td>
        <td><span class="fw-normal">{{i.email}}</span></td>
        <td><span class="fw-normal">{{i.address}}</span></td>
        <td>
          <!-- <div class="btn-group">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon icon-sm">
                <span class="fas fa-ellipsis-h icon-dark"></span>
              </span>
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu py-0 dropdown-menu-right">
              <a class="dropdown-item rounded-top" href="/cliente/{{i.id}}" ><span class="fas fa-eye me-2"></span>Ver detalhes</a>
              <a class="dropdown-item" href="/cliente/{{i.id}}/new_contact" ><span class="fas fa-plus me-2"></span>Adicionar contatos</a>
              <a class="dropdown-item" href="/cliente/{{i.id}}/edit" ><span class="fas fa-edit me-2"></span>Editar</a>
              <a class="dropdown-item text-danger rounded-bottom" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ i.id }}">
                <span class="fas fa-trash-alt me-2"></span>Deletar
            </a>
            </div>
          </div> -->
        </td>
      </tr>
      <div class="modal fade" id="confirmDeleteModal{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmação de Exclusão</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Tem certeza que deseja deletar o cliente {{ i.name }}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="delete/{{ i.id }}" class="btn btn-danger">Deletar</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>   
  <p id="noResultsMessage" class="text-center mt-4" style="display: none;">Nenhum resultado encontrado.</p>
  <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo;Primeiro</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
      {% endif %} 
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último&raquo;</a></li>
      {% endif %}
    </ul>
    <div class="fw-normal small mt-4 mt-lg-0">
      Exibindo <b>{{ page_obj.start_index }}</b> a <b>{{ page_obj.end_index }}</b> de <b>{{ page_obj.paginator.count }}</b> entradas
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha384-m/qXs6Ta64ootdh3VSJsg0sw+LJ/eUdVto+qns9kekovxhjr8qMK/9UvaO0iXgg7" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
      // Adicionar campo de arquivo
      $("#add-file").click(function(){
          var fileInput = '{{ form_anexo.anexo }}';
          $("#file-container").append(fileInput);
      });
  });
</script>
{% endblock content %}