{% extends 'layouts/base.html' %}
{% load static %} 
{% block content %}  
<div class="d-flex justify-content-between align-items-center  mt-4 py-4">
  <h4>Edição</h4>  
</div> 
<div class="row">
  <div class="mb-5">
    <div class="card border-0 shadow components-section">
      <div class="card-body">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible mt-2">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
              <span class="error-message">{{ message }}</span> 
          </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <form method="post" class="formulario">
            {% csrf_token %}  
            <div class="row">
              {% for field in form %}
              <div class="col-lg-4 col-sm-6">
                <div class="form-group mb-4">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <div class="alert alert-danger alert-dismissible mt-2">
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      {% for error in field.errors %}
                        <span class="error-message">{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div> 
            <div class="form-group d-flex justify-content-end "> 
              <a class="btn btn-outline-primary mx-2" href="{{url_cancel}}">Cancelar</a> 
              <button class="btn btn-primary" type="submit">Salvar</button>
            </div> 
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}