{% extends 'layouts/base.html' %}
{% load static %}   
{% block content %} 
<div class="d-block mb-4 mb-md-0 py-4">
  <h4>Detalhes do Checklist</h4>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive mb-5"> 
    <table class="table table-hover" style="min-height: 200px;">   
        <thead>
            <tr> 
                <th class="border-gray-200">Tipo</th>  
                <th class="border-gray-200">Informação</th>
                <th class="border-gray-200">Descrição</th> 
                <th class="border-gray-200">Opções</th>
            </tr>
        </thead>
        <tbody>
        {% if query %}
        {% for item in query %}     
        <tr>
            <td><span class="fw-normal">{{item.tipo}}</span></td>
            <td><span class="fw-normal">{{item.informacao}}</span></td>
            <td><span class="fw-normal">{{item.descricao}}</span></td>
            {% if item.tipo == "opcoes" %}
            <td>
                <ul class="list-unstyled">
                {% for opcao in item.opcoes %}
                    <li><span class="badge bg-success">{{opcao}}</span></li>
                {% endfor %}
                </ul>
            </td>
            {% else %}
            <td><span class="fw-normal">-</span></td>
            {% endif %}
        </tr>            
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" class="text-center">Nenhum checklist disponível.</td>
        </tr>
        {% endif %} 
        </tbody>  
    </table> 
</div>  
{% endblock %}
